@model UzduotisPraktikos.Context.DarbuotojoPareiga

@{
    ViewBag.Title = "Create";
}

<h2>Pareigos Priskyrimas</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Darbuotojui</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PareigosID, "Pareiga", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PareigosID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PareigosID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DarbuotojasID, "Darbuotojas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DarbuotojasID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DarbuotojasID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Priskirti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Gryzti i sarasa", "Index", "Pareigoes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
